<h1>Sign Up</h1>
<label for="username">userName</label>
<input id="username" placeholder="userName" />

<label for="email">email</label>
<input id="email" placeholder="email" />

<label for="password">password</label>
<input id="password" placeholder="password" type="password" (input)="onChangePassword($event)"/>

<label for="passwordRepeat">passwordRepeat</label>
<input id="passwordRepeat" placeholder="passwordRepeat" type="password" (input)="onChangePasswordRepeat($event)"/>


<button type="submit" [disabled]="isDisabled()">Sign Up</button>

